
/*手机*/
.diy-phone { width: 330px; border-radius: 3px; float: left; }
.diy-phone .phone-top { width: 100%; height: 66px; background-repeat: no-repeat; background-size: contain; background-image: url('https://img.yzcdn.cn/public_files/2017/12/15/c16b686fda5bc8b2c607f8c64edbef6c.png') }
.diy-phone .phone-main { min-height: 520px; border: 1px solid #ddd; border-top: 0; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; position: relative; }
.diy-phone .phone-main .drag { position: relative; min-height: 20px; display: block; overflow: hidden; font-size: 1.3rem; }
.diy-phone .phone-main .drag.selected:before, .diy-phone .phone-main .drag:hover:before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 2px dashed #00a0e9; cursor: move; z-index: 10; }
.diy-phone .phone-main .drag .btn-edit-del { height: 16px; position: absolute; right: 2px; bottom: 2px; display: none; z-index: 90; }
.diy-phone .phone-main .drag .btn-edit-del > div { width: 32px; height: 16px; line-height: 16px; display: inline-block; text-align: center; font-size: 10px; color: #fff; background: rgba(0, 0, 0, .4); margin-left: 2px; cursor: pointer; position: relative; z-index: 11; }
.diy-phone .phone-main .drag.selected .btn-edit-del, .diy-phone .phone-main .drag:hover .btn-edit-del { display: block; }
.diy-phone .phone-main .drag.nodelete .btn-edit-del .btn-del { display: none; }
.diy-phone .phone-main a { color: #337ab7; }

/*搜索*/
.diy-phone .phone-main .diy-search { background: #f1f1f2; padding: 10px 10px }
.diy-search { background: #f1f1f2; padding: 10px 10px }
.diy-search .inner { height: 30px; background: #fff; overflow: hidden }
.diy-search .inner.radius { border-radius: 5px }
.diy-search .inner.round { border-radius: 30px }
.diy-search .inner .search-icon { height: 30px; width: 30px; text-align: center; line-height: 30px; color: #b4b4b4 }
.diy-search .inner .search-input { height: 30px; width: 100%; line-height: 30px; color: #999999 }
.diy-search .inner .search-input span { padding: 0 10px 0 }
.diy-search .inner.left .search-icon { float: left }
.diy-search .inner.right .search-icon { float: right }


/*编辑元素*/
.diy-editor { float: left; width: 494px; height: auto; background: #fdfdfd; padding: 15px 10px; margin-left: 18px; border: 1px solid #ddd; border-radius: 5px; margin-top: 55px; margin-bottom: 260px; }
.diy-editor .editor-arrow { height: 0; position: relative; }
.diy-editor .editor-arrow:after, .diy-editor .editor-arrow:before { position: absolute;  content: "◆"; top: 8px; left: -21px; display: block; width: 9px; height: 18px; font-size: 24px; color: #fdfdfd; z-index: 111; }
.diy-editor .editor-arrow:after { left: -22px; color: #ddd; z-index: 11; }
.diy-editor .tpl-form-line-form .am-form-group {     margin-bottom: 1rem; }
