/* 多规格 */
.goods-spec-many {
  display: none;
  .goods-spec-box {
    margin-top: 15px;
    border: 1px solid #e4e4e4;
    padding: 20px;
    border-radius: 4px;
  }
  input {
    font-size: 1.3rem !important;
    padding-left: 10px !important;
    border: 1px solid #e3e2e5 !important;
    &.am-field-error {
      border-color: #dd514c !important;
    }
  }
  .spec-group-item {
    margin-bottom: 25px;
    .spec-group-name {
      margin-bottom: 15px;
      span {
        font-size: 1.5rem;
      }
      .icon-shanchu1 {
        display: inline-block;
      }
    }
    .spec-list {
      .spec-item {
        position: relative;
        margin-right: 12px;
        margin-bottom: 12px;
        span {
          min-width: 50px;
          display: inline-block;
          border: 1px solid #ddd;
          text-align: center;
          padding: 0 15px;
          border-radius: 2px;
          font-size: 1.3rem;
          line-height: 30px;
        }
        &:hover {
          .icon-shanchu1 {
            visibility: visible;
          }
        }
        .icon-shanchu1 {
          position: absolute;
          width: 20px;
          top: -9px;
          right: -9px;
          visibility: hidden;
        }
      }
    }
    .spec-item-add {
      input {
        width: 110px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      button {
        display: table-cell;
        height: 32px;
        font-size: 1.3rem;
        border-color: #e3e2e5;
        border-left: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        outline: none;
      }
    }
  }
  .icon-shanchu1 {
    cursor: pointer;
    text-align: center;
    color: #ababab;
    font-size: 1.3rem;
    &:hover {
      color: #6b6b6b;
    }
  }
  .spec-group-button {
    button {
      color: #2589ff;
      background-color: #fff;
      border-color: #2589ff;
      font-size: 12px;
      border-radius: 4px;
      outline: 0;
      font-weight: 400;
      padding: .6em 1em;
      outline: none !important;
      &:hover, &:focus {
        color: #fbfbfb;
        background-color: #19a7f0;
      }
    }
  }

  /* 添加规格组 */
  .spec-group-add {
    display: none;
    .spec-group-add-item {
      margin-bottom: 10px;
      input {
        width: 160px;
        border-radius: 4px;
        display: inline-block;
        margin-left: 12px;
      }
    }
  }

  /* sku容器 */
  .goods-sku {
    display: none;

    .goods-spec-line {
      border: 1px dashed #e3e2e5;
    }
    /* 批量设置sku */
    .spec-batch {
      margin-bottom: 2rem;
      .am-form-label {
        padding-top: 0;
      }
      .am-form-group {
        margin-left: .6rem;
        input {
          width: 140px;
        }
      }
    }
    /* 商品sku表格 */
    .spec-sku-tabel {
      td {
        &.td-spec-value {
          padding: .7rem 1.3rem !important;
        }
      }
      input {
        display: inline-block !important;
        &.ipt-goods-no {
          width: 140px;
        }
        &.ipt-w80 {
          width: 80px;
        }
      }
    }

  }
}
